
<!-- Add this line in the head section of your HTML -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<div class="user-profile">
  <div class="row">
    <h2 class="profile-title">My Profile</h2>
  </div>

  <div class="row">
    <div class="form-item column">
      <label for="ProfileImage" class="left">Profile Image</label>
      <input id="ProfileImage" type="file" (change)="handleImageChange($event)" accept="image/*">
    </div>
  </div>
  
  <div class="row">
    <div class="form-item column">
      <img id="selectedImage" [src]="selectedImageUrl" alt="Selected Image" class="profile-image">
    </div>
  </div>

  <div class="row">
    <div class="form-item column">
      <label for="Username" class="left">Username</label>
      <input id="Username" type="text" name="Username" [(ngModel)]="user.username" class="required">
    </div>
  </div>

  <div class="row">
    <div class="form-item column">
      <label for="UserPassword" class="left">Password</label>
      <div class="password-container">
        <input id="UserPassword" type="{{ hidePassword ? 'password' : 'text' }}" name="UserPassword" [(ngModel)]="user.password" class="required" >
        <button type="button" class="password-toggle" (click)="togglePasswordVisibility()">
          <i class="fas" [ngClass]="{'fa-eye': hidePassword, 'fa-eye-slash': !hidePassword}"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-item column">
      <label for="UserEmail" class="left">Email</label>
      <input id="UserEmail" type="email" name="UserEmail" [(ngModel)]="user.email" class="required" >
    </div>
  </div>

 <!-- Display user's tickets -->
<div class="row">
  <div class="form-item column">
    <h3>Your Tickets</h3>
    <div *ngIf="myProfileTickets.length > 0; else noTickets">
      <ul class="list-group">
        <li *ngFor="let ticket of myProfileTickets" class="list-group-item mb-3">
          <div>
            <h5><i class="fas fa-ticket-alt"></i> {{ ticket.title }}</h5>
            <p>Passenger: {{ ticket.assignedTo }}</p>
            <p>Price: {{ ticket.price }} leva</p>
            <p>Status: {{ ticket.status }}</p>

            <!-- Additional ticket details -->
            <p>
              <span class="field-label">Date Of Departure: </span>
              <span class="field-value">{{ ticket.trip?.dateOfDeparture }}</span>
            </p>
            <p>
              <span class="field-label">Date Of Arrival: </span>
              <span class="field-value">{{ ticket.trip?.dateOfArrival }}</span>
            </p>

            
          </div>
        </li>
      </ul>
    </div>
    <ng-template #noTickets>
      <p>No tickets found for the current user.</p>
    </ng-template>
  </div>
</div>


  <br><br>

  <div class="row">
    <div class="text-center column">
      <button type="submit" class="button be-button main-next-button small-12 medium-4 large-3">Save</button>
      <button id="deleteUserButton" type="button" class="delete-button small-12 medium-4 large-4" (click)="deleteCurrentUser()">Delete User</button>

      <!-- Updated button with improved styling -->
<button type="button" class="btn btn-primary home-button" (click)="navigateToTicketSearch()">
  <i class="fas fa-home"></i> Home
</button>

      <button type="button" class="btn-logout top-right" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Logout" (click)="logout()">Logout</button>
    </div>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
