<div class="user-profile">
  <img src="profile-image.jpg" alt="User Profile Image" class="profile-image">

  <div class="row">
    <div class="form-item column">
      <label for="Username" class="left">Username</label>
      <input id="Username" type="text" name="Username" [(ngModel)]="user.username" class="required">
    </div>
  </div>

  <div class="row">
    <div class="form-item column">
      <label for="UserPassword" class="left">Password</label>
      <input id="UserPassword" type="password" name="UserPassword" [(ngModel)]="user.password" class="required">
    </div>
  </div>

  <div class="row">
    <div class="form-item column">
      <label for="UserEmail" class="left">Email</label>
      <input id="UserEmail" type="email" name="UserEmail" [(ngModel)]="user.email" class="required" disabled="">
    </div>
  </div>

  

  <br><br>

  <div class="row">
    <div class="text-center column">
      <button type="submit" class="button be-button main-next-button small-12 medium-4 large-3">Save</button>
      <button id="deleteUserButton" type="button" class="delete-button small-12 medium-4 large-4">Delete User</button>
    </div>
  </div>
</div>
