body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #f1f3f5;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 60px;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.icon-button {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color:  #007bff;
  padding: 5px; /* Adjusted padding to make it smaller */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; /* Adjusted font size to make it smaller */
  width: 40px; /* Set a specific width */
  text-align: center; /* Center the text within the button */
  z-index: 1002;
}
/* Add this style to your existing CSS file */
.choose-payment-method {
  background-color: #fff;
  padding: 20px;
  margin-top: 80px;
  z-index: 999;
}

.card {
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.card-input {
  margin-bottom: 6px;
}

.card-input label {
  display: block;
  font-size: 15px;
  color: #fff;
  margin-bottom: 2px;
}

.error-message {
  color: #871414; /* Red color for error messages */
  font-size: 15px;
  margin-top: 5px;
}

.card-input input {
  width: 100%;
  padding: 6px;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.payment-method-button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 10px; /* Adjusted margin to create space between button and card template */
}

.payment-method-icon {
  font-size: 24px;
  margin-right: 10px;
  color: white;
}
